doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheets',href='/lib/uikit/css')
    script(type='text/javascript', src='/lib/uikit/js')
  body
    block content